<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../resources/css/dist/output.css" rel="stylesheet">

</head>
<body>
    <p class="bg-secondary w-1/2 font-playFair">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, voluptas. Impedit iste autem debitis dolorum iusto numquam aliquid nam aliquam.`</p>
    <div class="w-1/2 h-1/2 bg-red-700">lorem</div>
    <div class="w-1/2 h-1/2 bg-red-700 font-roboto">lorem</div>
</body>
</html>